[submodule ".registry"]
	path = .registry
	url = https://github.com/nyuglobalties/universe
	branch = HEAD
[submodule "blueprintr"]
	path = blueprintr
	url = https://github.com/nyuglobalties/blueprintr
[submodule "panelcleaner"]
	path = panelcleaner
	url = https://github.com/nyuglobalties/panelcleaner
[submodule "rcoder"]
	path = rcoder
	url = https://github.com/nyuglobalties/rcoder
[submodule "rddi"]
	path = rddi
	url = https://github.com/nyuglobalties/rddi
